.box{
    width: 250px;
    height: 400px;
    background-color: aqua;
    border-radius: 20px;
    
}
.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}